<section class="newsletter" id="newsletter">
        <h2>Kampanyalardan Haberdar Olun</h2>
        <div class="news-box">
            <input type="text" class="input" placeholder="Email Adresinizi Giriniz...">
            <a href="#" class="btn" target="_blank">Kaydol</a>
        </div>
    </section>