<section class="footer" id="footer">
        <div class="footer-box">
            <h2>LOGO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim pulvinar iaculis. Curabitur
                quis vulputate nulla. Vestibulum eu aliquet eros. Sed vitae sapien vel erat venenatis lobortis non a
                augue. Integer tincidunt sollicitudin rhoncus. Donec tempus dui ultrices facilisis ultrices. Aliquam
                condimentum gravida eros, ac porttitor elit consequat at. Aliquam.</p>
            <div class="social">
                <a href="https://tr-tr.facebook.com/" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>
        
        <div class="footer-box">
            <h3>Ürünler</h3>
            <li><a href="urunlerimiz">Tül & Perde</a></li>
            <li><a href="urunlerimiz">Nevresim Takımı</a></li>
            <li><a href="urunlerimiz">Çeyiz Setleri</a></li>
            <li><a href="urunlerimiz">Bornoz Takımları</a></li>
        </div>
        
        <div class="footer-box contact-info">
            <h3>İletişim</h3>
            <span>Kütahya Tavşanlı Yolu 10. km, 43100 Kütahya Merkez/Kütahya</span>
            <span>+90 123 456 7890</span>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@logo.com.tr" target="_blank"><span>info@logo.com.tr</span></a>
        </div>
    </section>