<header>
        <a href="#" class="logo">LOGO</a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="/">Kampanyalar</a></li>
            <li><a href="urunlerimiz">Ürünler</a></li>
            <li><a href="yeniUrun">Yeni Ürünler</a></li>
            <li><a href="about">Hakkımızda</a></li>
            <li><a href="#footer">İletişim</a></li>
        </ul>
    </header>