<section class="brands" id="brands">
        <div class="heading">
            <span>MARKALAR</span>
            <h2>Ürünlerimizin Markları</h2>
        </div>
        <div class="brands-container">
            <img src="img/brands/ozdilek.png" alt="Özdilek">
            <img src="img/brands/tac.png" alt="Taç">
            <img src="img/brands/brillant.png" alt="Brillant">
            <img src="img/brands/premier.png" alt="Premier">
        </div>
    </section>