<section class="about" id="about">
        {{#each about}}

        <div class="about-img">
            <img src="{{image}}" alt="hakkimizda">
        </div>
        <div class="about-text">
            <span>Hakkımızda</span>
            <h2>{{title}}t</h2>
            <p>{{content}}</p>
        </div>

        {{/each}}
    </section>