
{{#each sliders}}

<section class="compaigns" id="compaigns">
        <div class="compaigns-text">
            <h1>{{title}}</h1>
            <p>{{content}}</p>
            <a href="#shop" class="btn">Alışverişe Başla</a>
        </div>
    </section>

    {{/each}}