<section class="shop" id="shop">
        <div class="heading">
            <span>TÜM ÜRÜNLER</span>
            <h2>Şimdi Al</h2>
        </div>
        <div class="shop-container">
            <!-- box1 -->
            {{#each urun}}
            <div class="box">
                <div class="box-img">
                    <img src="{{image}}" alt="lila nevresim">
                </div>
                <div class="title-product">
                    <h3>{{title}}</h3>
                    <div class="stars">
                        <span>{{rating}}/10</span>
                        <i class='bx bxs-star'></i>                        
                    </div>
                </div>
                <span>{{price}}₺</span>
            </div>
            {{/each}}
        </div>
    </section>